{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
<div>
    {# @var review \App\Entity\Review #}
    <span>{{ review.getCompany().getName() }}</span>
    <span>{{ review.getRating() }}</span>
    <span>{{ review.getReviewText() }}</span>
    <span>{{ review.getCreatedAt().format('Y.m.d. H:i:s') }}</span>
</div>
{% endblock %}
